<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
  <display-name>taotao-manager-web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- post乱码过滤器 -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 前端控制器 -->
  <servlet>
    <servlet-name>taotao-manager-web</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- contextConfigLocation不是必须的， 如果不配置contextConfigLocation， springmvc的配置文件默认在：WEB-INF/servlet的name+"-servlet.xml" -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/springmvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>taotao-manager-web</servlet-name>
    <!-- 拦截所有请求jsp除外 -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- 连接池 启用 Web 监控统计功能    start-->
    <!-- <filter>
      <filter-name>DruidWebStatFilter</filter-name>
      <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
      <init-param>
        <param-name>exclusions</param-name>
        <param-value> *. js ,*. gif ,*. jpg ,*. png ,*. css ,*. ico ,/ druid /* </param-value >
      </init-param>
      &lt;!&ndash;缺省sessionStatMaxCount是1000个。你可以按需要进行配置&ndash;&gt;
      <init-param>
        <param-name>sessionStatMaxCount</param-name>
        <param-value>1000</param-value>
      </init-param>
      &lt;!&ndash;druid 0.2.7版本开始支持profile，配置profileEnable能够监控单个url调用的sql列表&ndash;&gt;
      <init-param>
        <param-name>profileEnable</param-name>
        <param-value>true</param-value>
      </init-param>
      <init-param>
      &lt;!&ndash;你可以配置principalSessionName，使得druid能够知道当前的session的用户是谁&ndash;&gt;
        <param-name>principalSessionName</param-name>
        <param-value>users.username</param-value>
      </init-param>
    &lt;!&ndash;  你可以关闭session统计功能&ndash;&gt;
      <init-param>
          <param-name>sessionStatEnable</param-name>
          <param-value>true</param-value>
      </init-param>
    </filter>

    <filter-mapping>
      <filter-name> DruidWebStatFilter </filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet >
      <servlet-name>DruidStatView </servlet-name>
      <servlet-class>com.alibaba.druid.support.http.StatViewServlet </servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name> DruidStatView</servlet-name>
      <url-pattern>/druid/*</url-pattern>
    </servlet-mapping >-->
  <!-- 连接池 启用 Web 监控统计功能    end-->
</web-app>